html,
body {
    height: 100%;
    margin: 0;
 
    
}

body {
    background: black;
    display: flex;
    align-items: center;
    background: url(./images/Tetris+Effect+Banner.jpeg);
}

canvas {
    border: 1px solid white;
}